#introduction {
  height: 80vh;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}


h1 {
  font-size: 5rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

.intro-text {
  margin: 0;
  padding-left: 2rem;
  max-width: 40vw;
}

.profile-pic {
  width: 30rem;
}
