header {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  height: 4rem;
  align-items: center;
  background-color: var(--light-blue);
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  justify-content: flex-end;
  font-size: 1.6rem;
  z-index: 1;
}

.nav {
  display: none;
}

.navmob {
  position: absolute;
  top: 4rem;
  width: 100%;
  text-align: center;
  background-image: url('./icons/IMG_3240.jpg');
  background-size: cover;
  background-position: center;
}

.navmob ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 3rem;
}

.navmob a {
  color: var(--light-blue);
  background-color: var(--text-light);
  position: relative;
  z-index: 1;
  display: flex;
  height: 2.55rem;
  width: 10rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.navmob a:hover {
  scale: 1.05;
}

.navmob a.active {
  background-color: rgb(94 110 98);
  color: var(--text-light);
}

.closenavmob {
  display: none;
}

.burgermenu {
  display: block;
  height: 2.55rem;
  width: 2.55rem;
  margin-right: 1rem;
}



@media (min-width: 850px) {

  .navmob {
    display: none;
  }

  header {
    padding-right: 2rem;
  }

  .nav {
    display: block;
  }

  ul {
    display: flex;
    gap: 4rem;
  }

  .nav a {
    color: var(--text-light);
    position: relative;
    z-index: 1;
    display: flex;
    height: 2.55rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .nav a:hover {
    scale: 1.05;
    border-bottom: 1px solid rgb(159 205 134);
  }

  .nav a.active {
    color: rgb(159 205 134);
    border-bottom: 1px solid rgb(159 205 134);
  }

  .burgermenu {
    display: none;
  }


}
