footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 2rem;
  background-color: var(--light-blue);
  color: var(--text-light);
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
