@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --container-background: rgb(5 20 19);
  --light-blue: #005f60;
  --light-green: #77BC01;
  --text-light: #fff4d9;
  --text-dark: black;
  --link-text: rgb(159 205 134);
  --link-text-hover: rgb(190, 247, 160);
  --nav-text-font: 'Source Code Pro';
  --headline-text-font: 'M PLUS 1 Code';
  --text-font: 'Montserrat';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: 'Open Sans', sans-serif;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 4rem;
}
