#about-me {
  background-image: url(./IMG_3481.jpg);
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
}

.about-me__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  min-height: calc(100vh - 6rem);
  background-color: rgb(5 20 19);
  opacity: 0.9;
  line-height: 25px;
  color: white;
  padding: 20px;
  padding-bottom: 35px;
}

#about-me h2 {
  font-family: var(--headline-text-font);
  font-weight: 200;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about-me__text {
  font-family: var(--text-font);
  margin-top: 30px;
}

.czechitas__link {
  color: var(--link-text)
}

.czechitas__link:hover {
  color: var(--link-text-hover);
}

@media (min-width: 500px) {

  .about-me__container {
    max-width: 400px;
  }

}

@media (min-width: 800px) {

  .about-me__container {
    max-width: 600px;
  }

}


@media (min-width: 1200px) {

  .about-me__container {
    max-width: 1000px;
  }

}
